/*reset style*/
body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    line-height: 2rem;
    font-family: Verdana, "Times New Roman",
    "Microsoft YaHei", "微软雅黑",
    "PingFang SC", "苹方",
    serif;
}

a {
    text-decoration: none;
    color: #1989fa;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
ul,ol{
    margin: 0;
}

img {
    display: block;
    border: none;
}

/*-----------------------------------*/

/*public style*/
.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    line-height: 2rem;
    padding: 5px 10px;
    background-color: #95a5a6;
}

/*-----------------------------------*/

/*page style*/
header {
    height: 280px;
    background-color: #1989fa;
}

.logo-nav {
    clear: both;
    height: 3rem;
    box-sizing: border-box;
    margin-bottom: 150px;
    font-weight: normal;
}

header h1 {
    float: left;
    margin: 20px 0 0 20px;
    border: 1px solid #ffffff;
    padding: 5px 10px;
}

header a {
    color: #ffffff;
}

header nav {
    float: right;
    margin: 20px 20px 0 0;
}

header nav a {
    display: block;
    float: left;
    padding: 0 10px;
    height: 2rem;
    font-size: 18px;
    line-height: 2rem;
    border-radius: 5px;
}

header nav a:hover {
    color: #1989fa;
    background-color: rgba(255, 255, 255, .6);
}

#page {
    color: #ffffff;
    font-size: 30px;
}

/*about section*/
#about, #works {
    padding: 50px 50px;
}

#works {
    display: none;
}

.avatar-box {
    font-size: 0;
    width: 200px;
    height: 200px;
}

.avatar-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.panel-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.panel {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
}

.panel-mask {
    box-sizing: border-box;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
    padding: 20px 0;
}

.panel-mask>a {
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 2px 10px;
    border-radius: 5px;
}

.panel-mask ol {
    color: #ffffff;
}

.panel-mask ol a{
    color: #ffeb3b;
    text-decoration: underline;
}
.img-panel:hover .panel-mask {
    display: block;
}

.panel-header, .panel p,.info h3 {
    padding: 0 20px;
}

.info ol ,.panel ol{
    padding-right: 20px;
}
.panel-header {
    line-height: 2.5rem;
    background-color: #1989fa;
    color: #ffffff;
    border-radius: 4px 4px 0 0;
}


.more {
    display: block;
    width: 8rem;
    color: #ffffff;
    border-radius: 5px;
    background-color: #1989fa;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*works section*/

.img-panel img {
    width: 100%;
    height: auto;
    border-radius: 0 0 4px 4px;
}

#works .panel {
    position: relative;
}

#works .panel .panel-header {
    background-color: #ffffff;
    color: #333333;
}

/*footer*/
footer {
    margin-bottom: 0;
    line-height: 70px;
    background-color: #444444;
    color: #ffffff;
    font-size: 14px;

}
/*响应式代码*/
@media screen and (max-width: 768px) {
    #about, #works {
        padding: 20px 20px;
    }

    .panel {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
}